/home/.emacs.d/.emacs.desktop*
/.#.gitignore
home/.emacs.d/history
home/.emacs.d/.session
home/.emacs.d/network-security.data
home/.emacs.d/places
home/.emacs.d/projectile-bookmarks.eld
home/.emacs.d/projectile.cache
home/.emacs.d/recentf
home/.emacs.d/auto-save-list/.saves-18062-barret~
home/.emacs.d/elpa*
home/.emacs.d/transient*
home/.emacs.d/auto-save-list/*
/home/.config/i3/__pycache__/
home/.zsh/cache
home/.zsh/zsh-completions
home/.emacs.d/elpa
home/.emacs.d/init-mail.el
\.*~$
home/.emacs.d/notes
i3/__pycache__
tmux/plugins/tmux-resurrect
\#*
**GPATH
**GRTAGS
**GTAGS
**ID
/home/.emacs.d/eshell/
/home/.emacs.d/tramp
/home/.emacs.d/url/
