/home/.emacs.d/.emacs.desktop*
**.#**
home/.emacs.d/history
home/.emacs.d/.session
home/.emacs.d/network-security.data
home/.emacs.d/places
home/.emacs.d/projectile-bookmarks.eld
home/.emacs.d/projectile.cache
home/.emacs.d/recentf
home/.emacs.d/auto-save-list/.saves-18062-barret~
home/.emacs.d/elpa*
home/.emacs.d/transient*
home/.emacs.d/auto-save-list/*
/home/.config/i3/__pycache__/
home/.zsh/cache
home/.zsh/zsh-completions
home/.emacs.d/elpa
home/.emacs.d/init-mail.el
\.*~$
home/.emacs.d/notes
i3/__pycache__
tmux/plugins/tmux-resurrect
\#*
**GPATH
**GRTAGS
**GTAGS
**ID
/home/.emacs.d/eshell/
/home/.emacs.d/.python-environments/
/home/.emacs.d/elpy/
/home/.emacs.d/session.10e0c2e1c9efea1836157851343030574000000010260075
/home/.emacs.d/tramp
/home/.emacs.d/url/
emacs.d/bookmarks.el
zsh/cache
emacs.d/.session
emacs.d/history
zsh/zsh-completions
emacs.d/elpa.*
emacs.d/init-mail.el
\.*~$
emacs.d/notes
i3/__pycache__
tmux/plugins/tmux-resurrect
\#*
**GPATH
**GRTAGS
**GTAGS
**ID
/emacs.d/elpa-*
home/.emacs.d/server/server
/home/.emacs.d/.bookmarks.el
/home/.emacs.d/.org-id-locations
/home/.emacs.d/.python-environments
/home/.emacs.d/server/
/home/.emacs.d/projectile.cache
/home/.emacs.d/.mc-lists.el
/home/.emacs.d/.#recentf
/home/.emacs.d/.directory
